{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="h3 mb-2 text-gray-800">Your game collection</h1>

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Add game to your collection</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <a href="{{ path('game_add') }}" class="btn btn-block btn-primary">
                                    <i class="fas fa-plus fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1"># of games in your collection</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numGames }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-compact-disc fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Special Editions</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ numSpecialEditions ~ ' / ' ~ numGames }}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ percentSpecialEditions }}%" aria-valuenow="{{ percentSpecialEditions }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-grin-hearts fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Unique genres</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numGenres }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bars fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
{#        <div class="card-header py-3">#}
{#            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
{#        </div>#}
        <div class="card-body">
            <div class="">
                <table class="table table-bordered border-primary rounded" id="dataTable" width="100%" cellspacing="0">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Publisher</th>
                        <th>Release date</th>
                        <th>Platform</th>
                        <th>Special Edition?</th>
                        <th>Condition</th>
                    </tr>
                    </thead>
{#                    <tfoot>#}
{#                    <tr>#}
{#                        <th>Title</th>#}
{#                        <th>Genre</th>#}
{#                        <th>Publisher</th>#}
{#                        <th>Release date</th>#}
{#                        <th>Platform</th>#}
{#                        <th>Special Edition?</th>#}
{#                        <th>Condition</th>#}
{#                    </tr>#}
{#                    </tfoot>#}
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.title }}</td>
                            <td>{{ game.genre|join(', ') }}</td>
                            <td>{{ game.publisher }}</td>
                            <td>{{ game.publishingDate|date('Y-m-d') }}</td>
                            <td>{{ game.platform|join(', ') }}</td>
                            <td>
                                {% if game.specialEdition %}
                                    {{ game.typeSpecialEdition }}
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>{{ game.condition }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
